@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.country {
  fill: #ccc;
  stroke: #999;
}

.content {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
.worldMap {
  float: left;
}