@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* .appContent {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
} */


/* app text */

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 4.5em;
  line-height: 82px;
  display: flex;
  align-items: center;
  letter-spacing: 0.135em;
}


h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.25em;
  color: #3F4255;
}




/* date-picker */


.date-picker {
  cursor: pointer;
  padding: 26px 24px;
  background: #FFE145;
  border-radius: 4px;
  border: 0;
  color: #B79C10;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.125em;
  text-align: center;
  letter-spacing: 0.5px;
}

.date-picker:hover {
  padding: 26px 24px;
  background: #FFF7CC;
  border-radius: 4px;
  border: 0;
  color: #B79C10;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.125em;
  text-align: center;
  letter-spacing: 0.5px;
}







/* world map */

.worldMap {
  float: left;
  background-color: #2B65EC;
  border: 2px solid #000;
}

#mapBackground{
  fill: none;
  pointer-events: all;
}

.country {
  fill: #aaa;
}

.country .active {
  fill: orange;
}

#country-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


/* tooltip worldmap*/
.hidden {
  display: none;
}

.mapTooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  position: absolute
}

/* daily informations*/
.countryDailyInformations {
  text-align: left;
}

.countryDailyInformations h2{
  border-bottom: 2px solid #000;
  font-weight:700; 
  border:2px solid #222;padding:5px 11px 3px 11px;
  text-transform:uppercase
}

.countryDailyInformations h2:before {
  background-color: #B79C10;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.countryDailyInformations h2:after {
  background-color: #B79C10;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

/* barchart */
#chart {
  background: #fff;
  width: 100%;
  margin: 1em auto;
}